/* Add responsive styles here */
@media (max-width: 768px) {
    .app-layout {
      padding: 0 10px;
    }
  
    .flex-col {
      flex-direction: column;
    }
  
    .w-full {
      width: 100%;
    }
  
    .md\:w-\[31\%\] {
      width: 100%;
    }
  
    .md\:h-\[352px\] {
      height: auto;
    }
  
    .md\:p-\[25px\] {
      padding: 1rem;
    }
  
    .md\:ml-10 {
      margin-left: 1rem;
    }
  
    .md\:pr-28 {
      padding-right: 1rem;
    }
  }
