:root {
  --colors-brands-primary-main: #205463;
  --colors-brands-primary-dark: #3AAB94;
  --colors-brands-primary-light: #DAFCF2;
  --colors-brands-secondary-main: #7838CC;
  --colors-brands-secondary-dark: #4A227E;
  --colors-brands-secondary-light: #E1B3FF;
  --colors-type-primary: #06041F;
  --colors-type-secondary: #4B4B4B;
  --colors-type-tertiary: #5E5E5E;
  --colors-type-deactivated: #868686;
  --colors-grey-main: #9CA3AF;
  --colors-grey-dark: #585F69;
  --colors-grey-light: #F5F5F5;
  --colors-interactive-default: #2D807B;
  --colors-interactive-hover: #3AAB94;
  --colors-interactive-active: #47D7AC;
  --colors-interactive-focus: #75E1C1;
  --colors-interactive-disabled: #D1F5EA;
  --colors-confirmation-default: #007216;
  --colors-confirmation-hover: #005C0C;
  --colors-confirmation-active: #004609;
  --colors-confirmation-focus: #008826;
  --colors-confirmation-disabled: #E8F8E9;
  --colors-destructive-default: #AB323A;
  --colors-destructive-hover: #8C252C;
  --colors-destructive-active: #6C1C21;
  --colors-destructive-focus: #C6454A;
  --colors-destructive-disabled: #FFEFEE;
  --colors-warning-main: #EAC608;
  --colors-warning-light: #E0C46C;
  --colors-info-main: #007216;
  --colors-info-light: #BAE8C0;
  --colors-success-main: #22C55E;
  --colors-success-light: #8CD799;
  --colors-error-main: #F87171;
  --colors-error-light: #FFB0AC;
  --colors-surface-surface-0: #F5F5F5;
  --colors-surface-surface-1: #E7E7E7;
  --colors-surface-surface-2: #C6C6C6;
  --colors-surface-line: #C6C6C6;
  --colors-stroke-primary: #ABB1BA;
  --colors-stroke-secondary: #D7D7D9;
  --colors-stroke-tertiary: #E7E7E7;
  --corner-radius-null: 0px;
  --colors-greens-primary-green-50: undefined;
  --colors-greens-primary-green-100: undefined;
  --colors-greens-primary-green-200: undefined;
  --colors-greens-primary-green-300: undefined;
  --colors-greens-primary-green-400: undefined;
  --colors-greens-primary-green-500: undefined;
  --colors-greens-primary-green-600: undefined;
  --colors-greens-primary-green-700: undefined;
  --colors-greens-primary-green-800: undefined;
  --colors-greens-primary-green-900: undefined;
  --colors-greens-primary-green-color-base: undefined;
  --colors-purple-purple-50: undefined;
  --colors-purple-purple-100: undefined;
  --colors-purple-purple-200: undefined;
  --colors-purple-purple-300: undefined;
  --colors-purple-purple-400: undefined;
  --colors-purple-purple-500: undefined;
  --colors-purple-purple-600: undefined;
  --colors-purple-purple-700: undefined;
  --colors-purple-purple-800: undefined;
  --colors-purple-purple-900: undefined;
  --colors-purple-purple-color-base: undefined;
  --colors-grey-grey-50: undefined;
  --colors-grey-grey-100: undefined;
  --colors-grey-grey-200: undefined;
  --colors-grey-grey-300: undefined;
  --colors-grey-grey-400: undefined;
  --colors-grey-grey-500: undefined;
  --colors-grey-grey-600: undefined;
  --colors-grey-grey-700: undefined;
  --colors-grey-grey-800: undefined;
  --colors-grey-grey-900: undefined;
  --colors-grey-grey-color-base: undefined;
  --colors-white-white-50: undefined;
  --colors-white-white-100: undefined;
  --colors-white-white-200: undefined;
  --colors-white-white-300: undefined;
  --colors-white-white-400: undefined;
  --colors-white-white-500: undefined;
  --colors-white-white-600: undefined;
  --colors-white-white-700: undefined;
  --colors-white-white-800: undefined;
  --colors-white-white-900: undefined;
  --colors-white-white-color-base: undefined;
  --colors-red-red-50: undefined;
  --colors-red-red-100: undefined;
  --colors-red-red-200: undefined;
  --colors-red-red-300: undefined;
  --colors-red-red-400: undefined;
  --colors-red-red-500: undefined;
  --colors-red-red-600: undefined;
  --colors-red-red-700: undefined;
  --colors-red-red-800: undefined;
  --colors-red-red-900: undefined;
  --colors-red-red-color-base: undefined;
  --colors-green-green-50: undefined;
  --colors-green-green-100: undefined;
  --colors-green-green-200: undefined;
  --colors-green-green-300: undefined;
  --colors-green-green-400: undefined;
  --colors-green-green-500: undefined;
  --colors-green-green-600: undefined;
  --colors-green-green-700: undefined;
  --colors-green-green-800: undefined;
  --colors-green-green-900: undefined;
  --colors-green-green-color-base: undefined;
  --colors-yellow-yellow-50: undefined;
  --colors-yellow-yellow-100: undefined;
  --colors-yellow-yellow-200: undefined;
  --colors-yellow-yellow-300: undefined;
  --colors-yellow-yellow-400: undefined;
  --colors-yellow-yellow-500: undefined;
  --colors-yellow-yellow-600: undefined;
  --colors-yellow-yellow-700: undefined;
  --colors-yellow-yellow-800: undefined;
  --colors-yellow-yellow-900: undefined;
  --colors-yellow-yellow-color-base: undefined;
  --colors-black-black-50: undefined;
  --colors-black-black-100: undefined;
  --colors-black-black-200: undefined;
  --colors-black-black-300: undefined;
  --colors-black-black-400: undefined;
  --colors-black-black-500: undefined;
  --colors-black-black-600: undefined;
  --colors-black-black-700: undefined;
  --colors-black-black-800: undefined;
  --colors-black-black-900: undefined;
  --colors-black-black-color-base: undefined;
  --colors-surface-surface-base: #F4F4F4;
  --colors-light-blue-light-blue-50: undefined;
  --colors-light-blue-light-blue-100: undefined;
  --colors-light-blue-light-blue-200: undefined;
  --colors-light-blue-light-blue-300: undefined;
  --colors-light-blue-light-blue-400: undefined;
  --colors-light-blue-light-blue-500: undefined;
  --colors-light-blue-light-blue-600: undefined;
  --colors-light-blue-light-blue-700: undefined;
  --colors-light-blue-light-blue-800: undefined;
  --colors-light-blue-light-blue-900: undefined;
  --colors-light-blue-light-blue-color-base: undefined;
  --colors-brown-brown-50: undefined;
  --colors-brown-brown-100: undefined;
  --colors-brown-brown-200: undefined;
  --colors-brown-brown-300: undefined;
  --colors-brown-brown-400: undefined;
  --colors-brown-brown-500: undefined;
  --colors-brown-brown-600: undefined;
  --colors-brown-brown-700: undefined;
  --colors-brown-brown-800: undefined;
  --colors-brown-brown-900: undefined;
  --colors-brown-brown-color-base: undefined;
  --number-0: undefined;
  --number-2: undefined;
  --number-4: undefined;
  --number-8: undefined;
  --number-12: undefined;
  --number-16: undefined;
  --number-20: undefined;
  --number-24: undefined;
  --number-32: undefined;
  --number-40: undefined;
  --number-48: undefined;
  --number-56: undefined;
  --number-64: undefined;
  --number-80: undefined;
  --number-104: undefined;
  --spacing-null: 0px;
  --spacing-xs: 6px;
  --spacing-s: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 12px;
  --spacing-xxl: 16px;
  --corner-radius-xs: 0px;
  --corner-radius-s: 0px;
  --corner-radius-md: 0px;
  --corner-radius-lg: 0px;
  --corner-radius-xl: 0px;
  --corner-radius-xxl: 0px;
  --corner-radius-circle: 104px;
  --colors-miscellaneous-miscellaneous-text: #FFFFFF;
  --colors-greens-primary-green-focused: undefined;
  --colors-surface-surface-selected-highlight: #2D807B;
  --number-36: undefined;
  --spacing-3xl: 16px;
  --spacing-4xl: 20px;
  --spacing-5xl: 24px;
  --spacing-3xs: 2px;
  --corner-radius-xxs: 0px;
  --colors-surface-surface: #FFFFFF;
  --spacing-2xs: 4px;
  --number-6: undefined;
  --mode: undefined;
  --colors-light-red-light-red-50: undefined;
  --colors-light-red-light-red-100: undefined;
  --colors-light-red-light-red-200: undefined;
  --colors-light-red-light-red-300: undefined;
  --colors-light-red-light-red-400: undefined;
  --colors-light-yellow-light-yellow-50: undefined;
  --colors-light-yellow-light-yellow-100: undefined;
  --colors-light-yellow-light-yellow-200: undefined;
  --colors-light-yellow-light-yellow-300: undefined;
  --colors-light-yellow-light-yellow-400: undefined;
  --colors-light-green-light-green-50: undefined;
  --colors-light-green-light-green-100: undefined;
  --colors-light-green-light-green-200: undefined;
  --colors-light-green-light-green-300: undefined;
  --colors-light-green-light-green-400: undefined;
  --colors-sky-blue-sky-blue-50: undefined;
  --colors-sky-blue-sky-blue-100: undefined;
  --colors-sky-blue-sky-blue-200: undefined;
  --colors-sky-blue-sky-blue-300: undefined;
  --colors-sky-blue-sky-blue-400: undefined;
  --colors-charts-primary-color-1: #FF9696;
  --colors-charts-primary-color-2: #0FE9B3;
  --colors-charts-primary-color-3: #A3C7FF;
  --colors-charts-primary-color-4: #FEFC9E;
  --colors-charts-primary-color-5: #D097FF;
  --colors-orange-orange-50: undefined;
  --colors-orange-orange-100: undefined;
  --colors-orange-orange-200: undefined;
  --colors-orange-orange-300: undefined;
  --colors-orange-orange-400: undefined;
  --colors-charts-primary-color-6: #FFD6A5;
  --colors-charts-primary-color-7: #EFD1FF;
  --colors-charts-primary-color-8: #DA707F;
  --colors-light-red-light-red-400-2: undefined;
  --spacing-6xl: 32px;
  --colors-miscellaneous-miscellaneous-text-2: #FFFFFF;
  --colors-miscellaneous-miscellaneous-text-3: #06041F;
  --colors-light-blue-light-blue-75: undefined;
  --colors-green-green-50-2: undefined;
  --colors-miscellaneous-miscellaneous-text-4: #DAFCF2;
  --colors-shadow-shadow-1: #D9D9D9;
  --colors-shadow-shadow-2: #D8D8D8;
  --colors-shadow-shadow-3: #CFCFCF;
  --colors-shadow-shadow-4: #ACACAC;
  --colors-black-black-shadow-5: undefined;
  --colors-black-black-shadow-6: undefined;
  --colors-black-black-shadow-10: undefined;
  --colors-black-black-shadow-25: undefined;
  --colors-sky-blue-sky-blue-focused: undefined;
  --colors-light-green-light-green-500: undefined;
  --colors-miscellaneous-hyperlink: #47D7AC;
  --colors-light-green-light-green-600: undefined;
  --colors-miscellaneous-icon-set: #4AEDCE;
  --colors-new-colors-upset-1: undefined;
  --colors-new-colors-upset-2: undefined;
}