:root {
  --colors-brands-primary-main: undefined;
  --colors-brands-primary-dark: #3AAB94;
  --colors-brands-primary-light: #DAFCF2;
  --colors-brands-secondary-main: #7838CC;
  --colors-brands-secondary-dark: #4A227E;
  --colors-brands-secondary-light: #E1B3FF;
  --colors-type-primary: #06041F;
  --colors-type-secondary: #4B4B4B;
  --colors-type-tertiary: #5E5E5E;
  --colors-type-deactivated: #868686;
  --colors-grey-main: #9CA3AF;
  --colors-grey-dark: #585F69;
  --colors-grey-light: #F5F5F5;
  --colors-interactive-default: #C6454A;
  --colors-interactive-hover: #3AAB94;
  --colors-interactive-active: #47D7AC;
  --colors-interactive-focus: #75E1C1;
  --colors-interactive-disabled: #D1F5EA;
  --colors-confirmation-default: #007216;
  --colors-confirmation-hover: #005C0C;
  --colors-confirmation-active: #004609;
  --colors-confirmation-focus: #008826;
  --colors-confirmation-disabled: #E8F8E9;
  --colors-destructive-default: #AB323A;
  --colors-destructive-hover: #8C252C;
  --colors-destructive-active: #6C1C21;
  --colors-destructive-focus: #C6454A;
  --colors-destructive-disabled: #FFEFEE;
  --colors-warning-main: #EAC608;
  --colors-warning-light: #E0C46C;
  --colors-info-main: #007216;
  --colors-info-light: #BAE8C0;
  --colors-success-main: #22C55E;
  --colors-success-light: #8CD799;
  --colors-error-main: #F87171;
  --colors-error-light: #FFB0AC;
  --colors-surface-surface-0: #F5F5F5;
  --colors-surface-surface-1: #E7E7E7;
  --colors-surface-surface-2: #C6C6C6;
  --colors-surface-line: #C6C6C6;
  --colors-stroke-primary: #ABB1BA;
  --colors-stroke-secondary: #D7D7D9;
  --colors-stroke-tertiary: #E7E7E7;
  --corner-radius-null: 0px;
  --colors-greens-primary-green-50: #F2FFFB;
  --colors-greens-primary-green-100: #EBFFF9;
  --colors-greens-primary-green-200: #E7FFF8;
  --colors-greens-primary-green-300: #DAFCF2;
  --colors-greens-primary-green-400: #D1F5EA;
  --colors-greens-primary-green-500: #A3EBD5;
  --colors-greens-primary-green-600: #75E1C1;
  --colors-greens-primary-green-700: #47D7AC;
  --colors-greens-primary-green-800: #3AAB94;
  --colors-greens-primary-green-900: #2D807B;
  --colors-greens-primary-green-color-base: #205463;
  --colors-purple-purple-50: #FAF0FF;
  --colors-purple-purple-100: #EFD1FF;
  --colors-purple-purple-200: #E1B3FF;
  --colors-purple-purple-300: #D097FF;
  --colors-purple-purple-400: #BC7CFF;
  --colors-purple-purple-500: #A763F8;
  --colors-purple-purple-600: #904DE3;
  --colors-purple-purple-700: #783BC7;
  --colors-purple-purple-800: #612DA5;
  --colors-purple-purple-900: #4A227E;
  --colors-purple-purple-color-base: #7838CC;
  --colors-grey-grey-50: #F5F5F5;
  --colors-grey-grey-100: #E7E7E7;
  --colors-grey-grey-200: #D7D7D9;
  --colors-grey-grey-300: #ABB1BA;
  --colors-grey-grey-400: #959CA6;
  --colors-grey-grey-500: #808792;
  --colors-grey-grey-600: #6C727E;
  --colors-grey-grey-700: #585F69;
  --colors-grey-grey-800: #464C55;
  --colors-grey-grey-900: #353940;
  --colors-grey-grey-color-base: #9CA3AF;
  --colors-white-white-50: #F3F3F3;
  --colors-white-white-100: #DDDDDD;
  --colors-white-white-200: #C6C6C6;
  --colors-white-white-300: #B0B0B0;
  --colors-white-white-400: #9B9B9B;
  --colors-white-white-500: #868686;
  --colors-white-white-600: #727272;
  --colors-white-white-700: #5E5E5E;
  --colors-white-white-800: #4B4B4B;
  --colors-white-white-900: #393939;
  --colors-white-white-color-base: #FFFFFF;
  --colors-red-red-50: #FFEFEE;
  --colors-red-red-100: #FFD0CC;
  --colors-red-red-200: #FFB0AC;
  --colors-red-red-300: #FD928F;
  --colors-red-red-400: #F07675;
  --colors-red-red-500: #DD5C5E;
  --colors-red-red-600: #C6454A;
  --colors-red-red-700: #AB323A;
  --colors-red-red-800: #8C252C;
  --colors-red-red-900: #6C1C21;
  --colors-red-red-color-base: #F87171;
  --colors-green-green-50: #E8F8E9;
  --colors-green-green-100: #BAE8C0;
  --colors-green-green-200: #8CD799;
  --colors-green-green-300: #5DC575;
  --colors-green-green-400: #26B256;
  --colors-green-green-500: #009D3C;
  --colors-green-green-600: #008826;
  --colors-green-green-700: #007216;
  --colors-green-green-800: #005C0C;
  --colors-green-green-900: #004609;
  --colors-green-green-color-base: #22C55E;
  --colors-yellow-yellow-50: #FBF3E0;
  --colors-yellow-yellow-100: #F0DBA4;
  --colors-yellow-yellow-200: #E0C46C;
  --colors-yellow-yellow-300: #CDAF35;
  --colors-yellow-yellow-400: #B79900;
  --colors-yellow-yellow-500: #9F8500;
  --colors-yellow-yellow-600: #887100;
  --colors-yellow-yellow-700: #725D00;
  --colors-yellow-yellow-800: #5D4A00;
  --colors-yellow-yellow-900: #483800;
  --colors-yellow-yellow-color-base: #EAC608;
  --colors-black-black-50: #F3F3F3;
  --colors-black-black-100: #DDDDDD;
  --colors-black-black-200: #C6C6C6;
  --colors-black-black-300: #B0B0B0;
  --colors-black-black-400: #9B9B9B;
  --colors-black-black-500: #868686;
  --colors-black-black-600: #727272;
  --colors-black-black-700: #5E5E5E;
  --colors-black-black-800: #4B4B4B;
  --colors-black-black-900: #13294B;
  --colors-black-black-color-base: #06041F;
  --colors-surface-surface-base: #F4F4F4;
  --colors-light-blue-light-blue-50: #F0F3FE;
  --colors-light-blue-light-blue-100: #CADDFF;
  --colors-light-blue-light-blue-200: #A3C7FF;
  --colors-light-blue-light-blue-300: #7AB2FF;
  --colors-light-blue-light-blue-400: #4A9DFD;
  --colors-light-blue-light-blue-500: #0089EE;
  --colors-light-blue-light-blue-600: #0075D9;
  --colors-light-blue-light-blue-700: #0061BE;
  --colors-light-blue-light-blue-800: #004E9D;
  --colors-light-blue-light-blue-900: #003B78;
  --colors-light-blue-light-blue-color-base: #1B96FF;
  --colors-brown-brown-50: #F6F3ED;
  --colors-brown-brown-100: #E3DDC9;
  --colors-brown-brown-200: #CFC7A7;
  --colors-brown-brown-300: #BBB189;
  --colors-brown-brown-400: #A69B6D;
  --colors-brown-brown-500: #918756;
  --colors-brown-brown-600: #7C7242;
  --colors-brown-brown-700: #675F32;
  --colors-brown-brown-800: #534C25;
  --colors-brown-brown-900: #3F391B;
  --colors-brown-brown-color-base: #A49966;
  --number-0: undefined;
  --number-2: 2px;
  --number-4: 4px;
  --number-8: 8px;
  --number-12: 12px;
  --number-16: 16px;
  --number-20: 20px;
  --number-24: 24px;
  --number-32: 32px;
  --number-40: 40px;
  --number-48: 48px;
  --number-56: 56px;
  --number-64: 64px;
  --number-80: 80px;
  --number-104: 104px;
  --spacing-null: 0px;
  --spacing-xs: 6px;
  --spacing-s: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 12px;
  --spacing-xxl: 16px;
  --corner-radius-xs: 4px;
  --corner-radius-s: 8px;
  --corner-radius-md: 16px;
  --corner-radius-lg: 24px;
  --corner-radius-xl: 40px;
  --corner-radius-xxl: 6px;
  --corner-radius-circle: 104px;
  --colors-miscellaneous-miscellaneous-text: #FFFFFF;
  --colors-greens-primary-green-focused: #F4F4F4;
  --colors-surface-surface-selected-highlight: #2D807B;
  --number-36: 36px;
  --spacing-3xl: 16px;
  --spacing-4xl: 20px;
  --spacing-5xl: 24px;
  --spacing-3xs: 2px;
  --corner-radius-xxs: 2px;
  --colors-surface-surface: #FFFFFF;
  --spacing-2xs: 4px;
  --number-6: 6px;
  --mode: undefined;
  --colors-light-red-light-red-50: #FFE4E4;
  --colors-light-red-light-red-100: #FFD3D3;
  --colors-light-red-light-red-200: #FFC3C3;
  --colors-light-red-light-red-300: #FFABAB;
  --colors-light-red-light-red-400: #FF9696;
  --colors-light-yellow-light-yellow-50: #FCFBF2;
  --colors-light-yellow-light-yellow-100: #F8F7E5;
  --colors-light-yellow-light-yellow-200: #FFFEE5;
  --colors-light-yellow-light-yellow-300: #FCF99A;
  --colors-light-yellow-light-yellow-400: #FEFC9E;
  --colors-light-green-light-green-50: #F6FFF6;
  --colors-light-green-light-green-100: #E4FED5;
  --colors-light-green-light-green-200: #D1F6B7;
  --colors-light-green-light-green-300: #20F3BF;
  --colors-light-green-light-green-400: #0FE9B3;
  --colors-sky-blue-sky-blue-50: #F7F7F7;
  --colors-sky-blue-sky-blue-100: #F5F8FF;
  --colors-sky-blue-sky-blue-200: #EEF3FD;
  --colors-sky-blue-sky-blue-300: #E1ECFF;
  --colors-sky-blue-sky-blue-400: #D2E0FB;
  --colors-charts-primary-color-1: #FF9696;
  --colors-charts-primary-color-2: #0FE9B3;
  --colors-charts-primary-color-3: #A3C7FF;
  --colors-charts-primary-color-4: #FEFC9E;
  --colors-charts-primary-color-5: #D097FF;
  --colors-orange-orange-50: #FFF0E4;
  --colors-orange-orange-100: #F4D9C5;
  --colors-orange-orange-200: #FFD6A5;
  --colors-orange-orange-300: #FFB781;
  --colors-orange-orange-400: #F49C57;
  --colors-charts-primary-color-6: #FFD6A5;
  --colors-charts-primary-color-7: #EFD1FF;
  --colors-charts-primary-color-8: #DA707F;
  --colors-light-red-light-red-400-2: #DA707F;
  --spacing-6xl: 32px;
  --colors-miscellaneous-miscellaneous-text-2: #FFFFFF;
  --colors-miscellaneous-miscellaneous-text-3: #06041F;
  --colors-light-blue-light-blue-75: #CAF0F8;
  --colors-green-green-50-2: #ADE8F4;
  --colors-miscellaneous-miscellaneous-text-4: #DAFCF2;
  --colors-shadow-shadow-1: #D9D9D9;
  --colors-shadow-shadow-2: #D8D8D8;
  --colors-shadow-shadow-3: #CFCFCF;
  --colors-shadow-shadow-4: #ACACAC;
  --colors-black-black-shadow-5: #D9D9D9;
  --colors-black-black-shadow-6: #D8D8D8;
  --colors-black-black-shadow-10: #CFCFCF;
  --colors-black-black-shadow-25: #ACACAC;
  --colors-sky-blue-sky-blue-focused: #5DE4FD;
  --colors-light-green-light-green-500: #47D7AC;
  --colors-miscellaneous-hyperlink: #47D7AC;
  --colors-light-green-light-green-600: #4AEDCE;
  --colors-miscellaneous-icon-set: #4AEDCE;
  --colors-new-colors-upset-1: #CCAAAA;
  --colors-new-colors-upset-2: #080D88;
}