:root {
  --colors-primary-2: #06041F;
  --colors-primary-1: #47D7AC;
  --number-0: undefined;
  --number-4: 4px;
  --number-8: 8px;
  --corner-radius-null: 0px;
  --corner-radius-small: 4px;
  --corner-radius-medium: 6px;
  --colors-secondary-5: #F8485E;
  --colors-secondary-1: #13294B;
  --number-6: 6px;
  --corner-radius-large: 8px;
  --colors-secondary-2: #C4C9D2;
  --colors-secondary-3: #2E008B;
  --colors-secondary-4: #FBD872;
  --number-12: 12px;
  --number-16: 16px;
  --number-24: 24px;
  --number-32: 32px;
  --colors-greens-green-100: #D9FFF4;
  --colors-greens-green-200: #4FF5C4;
  --colors-greens-green-300: #3AAB94;
  --colors-greens-green-400: #2D807B;
  --colors-greens-green-500: #205463;
  --colors-blues-blue-200: #8893A5;
  --colors-blues-blue-300: #4E5E78;
  --colors-blues-blue-400: #13294B;
  --colors-blues-blue-500: #06041F;
  --colors-grays-gray-200: #EFF1F4;
  --colors-grays-gray-300: #E0E3E8;
  --colors-grays-gray-400: #D2D6DD;
  --colors-grays-gray-500: #C4C9D2;
  --colors-purples-purple-200: #CBBFE2;
  --colors-purples-purple-300: #9680C5;
  --colors-purples-purple-400: #6240A8;
  --colors-purples-purple-500: #2E008B;
  --colors-yellows-yellow-200: #FDF4DC;
  --colors-yellows-yellow300: #FCE195;
  --colors-yellows-yellow-400: #FBD872;
  --colors-yellows-yellow-500: #F99068;
  --colors-pinks-pink-200: #FCD0D7;
  --colors-pinks-pink-300: #F97586;
  --colors-pinks-pink-400: #F8485E;
  --colors-pinks-pink-500: #BF4059;
  --number-64: 64px;
  --number-72: 72px;
  --number-80: 80px;
  --colors-neutral-white: #FFFFFF;
  --corner-radius-xl: 12px;
  --corner-radius-xxl: 16px;
  --corner-radius-3xl: 24px;
  --corner-radius-4xl: 32px;
  --corner-radius-5xl: 64px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;
  --spacing-3xl: 64px;
  --spacing-4xl: 72px;
  --spacing-5xl: 80px;
  --brand-primary-main-2: #06041F;
  --brand-primary-main-1: #47D7AC;
  --brand-secondary-secondary-5: #F8485E;
  --brand-secondary-secondary-4: #FBD872;
  --brand-secondary-secondary-3: #2E008B;
  --brand-secondary-secondary-2: #C4C9D2;
  --brand-secondary-secondary-1: #13294B;
  --interactive-default: #205463;
  --interactive-hover: #2D807B;
  --interactive-active: #3AAB94;
  --interactive-focus: #4FF5C4;
  --interactive-disbaled: #D9FFF4;
  --button-text: #FFFFFF;
}