
        /* variable declared */
        :root {
              --colors-brands-primary-p1-main: #205463;
  --colors-brands-primary-dark: #2D807B;
  --colors-brands-primary-light: #85E2C6;
  --colors-brands-secondary-main: #7838CC;
  --colors-brands-secondary-dark: #4A227E;
  --colors-brands-secondary-light: #E1B3FF;
  --colors-type-primary: #06041F;
  --colors-type-secondary: #4B4B4B;
  --colors-type-tertiary: #5E5E5E;
  --colors-type-deactivated: #868686;
  --colors-grey-main: #9CA3AF;
  --colors-grey-dark: #585F69;
  --colors-grey-light: #F5F5F5;
  --colors-interactive-default: #205463;
  --colors-interactive-hover: #2D807B;
  --colors-confirmation-active-2: #3AAB94;
  --colors-interactive-focus: #34CEA0;
  --colors-interactive-disabled: #F5F5F5;
  --colors-confirmation-default: #007216;
  --colors-confirmation-hover: #005C0C;
  --colors-confirmation-active: #004609;
  --colors-confirmation-focus: #008826;
  --colors-confirmation-disabled: #E8F8E9;
  --colors-destructive-default: #AB323A;
  --colors-destructive-hover: #8C252C;
  --colors-destructive-active: #FF5A5F;
  --colors-destructive-focus: #C6454A;
  --colors-destructive-disabled: #FFEFEE;
  --colors-warning-main: #EAC608;
  --colors-warning-light: #E0C46C;
  --colors-info-main: #007216;
  --colors-info-light: #BAE8C0;
  --colors-success-main: #22C55E;
  --colors-success-light: #E8F8E9;
  --colors-error-main: #F87171;
  --colors-error-light: #FFB0AC;
  --colors-surface-surface-0: #F5F5F5;
  --colors-surface-surface-1: #E7E7E7;
  --colors-surface-surface-2: #C6C6C6;
  --colors-surface-line: #C6C6C6;
  --colors-stroke-primary: #ABB1BA;
  --colors-stroke-secondary: #D7D7D9;
  --colors-stroke-tertiary: #E7E7E7;
  --corner-radius-null: 0px;
  --colors-primary-50: #EBFAF6;
  --colors-primary-100: #D6F5EC;
  --colors-primary-200: #C2F0E3;
  --colors-primary-300: #85E2C6;
  --colors-primary-400: #71DDBD;
  --colors-primary-500: #5DD8B3;
  --colors-primary-600: #48D3AA;
  --colors-primary-700: #34CEA0;
  --colors-primary-800: #3AAB94;
  --colors-primary-900: #2D807B;
  --colors-primary-color-base: #205463;
  --colors-purple-50: #FAF0FF;
  --colors-purple-100: #EFD1FF;
  --colors-purple-200: #E1B3FF;
  --colors-purple-300: #D097FF;
  --colors-purple-400: #BC7CFF;
  --colors-purple-500: #A763F8;
  --colors-purple-600: #904DE3;
  --colors-purple-700: #783BC7;
  --colors-purple-800: #612DA5;
  --colors-purple-900: #4A227E;
  --colors-purple-color-base: #7838CC;
  --colors-grey-50: #F5F5F5;
  --colors-grey-100: #E7E7E7;
  --colors-grey-200: #D7D7D9;
  --colors-grey-300: #ABB1BA;
  --colors-grey-400: #959CA6;
  --colors-grey-500: #808792;
  --colors-grey-600: #6C727E;
  --colors-grey-700: #585F69;
  --colors-grey-800: #464C55;
  --colors-grey-900: #353940;
  --colors-grey-color-base: #9CA3AF;
  --colors-white-50: #F3F3F3;
  --colors-white-100: #DDDDDD;
  --colors-white-200: #C6C6C6;
  --colors-white-300: #B0B0B0;
  --colors-white-400: #9B9B9B;
  --colors-white-500: #868686;
  --colors-white-600: #727272;
  --colors-white-700: #5E5E5E;
  --colors-white-800: #4B4B4B;
  --colors-white-900: #393939;
  --colors-white-color-base: #FFFFFF;
  --colors-red-50: #FFEFEE;
  --colors-red-100: #FFD0CC;
  --colors-red-200: #FFB0AC;
  --colors-red-300: #FD928F;
  --colors-red-400: #F07675;
  --colors-red-700: #DD5C5E;
  --colors-red-800: #C6454A;
  --colors-red-900: #AB323A;
  --colors-red-color-base: #8C252C;
  --colors-red-600: #FF5A5F;
  --colors-red-500: #F87171;
  --colors-green-50: #E8F8E9;
  --colors-green-100: #BAE8C0;
  --colors-green-200: #8CD799;
  --colors-green-300: #5DC575;
  --colors-green-400: #26B256;
  --colors-green-500: #009D3C;
  --colors-green-600: #008826;
  --colors-green-700: #007216;
  --colors-green-800: #005C0C;
  --colors-green-900: #004609;
  --colors-green-color-base: #22C55E;
  --colors-yellow-50: #FBF3E0;
  --colors-yellow-100: #F0DBA4;
  --colors-yellow-200: #E0C46C;
  --colors-yellow-300: #CDAF35;
  --colors-yellow-400: #B79900;
  --colors-yellow-500: #9F8500;
  --colors-yellow-600: #887100;
  --colors-yellow-700: #725D00;
  --colors-yellow-800: #5D4A00;
  --colors-yellow-900: #483800;
  --colors-yellow-color-base: #EAC608;
  --colors-black-50: #F3F3F3;
  --colors-black-100: #DDDDDD;
  --colors-black-200: #C6C6C6;
  --colors-black-300: #B0B0B0;
  --colors-black-400: #9B9B9B;
  --colors-black-500: #868686;
  --colors-black-600: #727272;
  --colors-black-700: #5E5E5E;
  --colors-black-800: #4B4B4B;
  --colors-black-900: #13294B;
  --colors-black-color-base: #06041F;
  --colors-surface-surface-base: #C2F0E3;
  --colors-light-blue-50: #F0F3FE;
  --colors-light-blue-100: #CADDFF;
  --colors-light-blue-200: #A3C7FF;
  --colors-light-blue-300: #7AB2FF;
  --colors-light-blue-400: #4A9DFD;
  --colors-light-blue-500: #0089EE;
  --colors-light-blue-600: #0075D9;
  --colors-light-blue-700: #0061BE;
  --colors-light-blue-800: #004E9D;
  --colors-light-blue-900: #003B78;
  --colors-light-blue-color-base: #1B96FF;
  --colors-brown-50: #F6F3ED;
  --colors-brown-100: #E3DDC9;
  --colors-brown-200: #CFC7A7;
  --colors-brown-300: #BBB189;
  --colors-brown-400: #A69B6D;
  --colors-brown-500: #918756;
  --colors-brown-600: #7C7242;
  --colors-brown-700: #675F32;
  --colors-brown-800: #534C25;
  --colors-brown-900: #3F391B;
  --colors-brown-color-base: #A49966;
  --number-0: undefined;
  --number-2: 2px;
  --number-4: 4px;
  --number-8: 8px;
  --number-12: 12px;
  --number-16: 16px;
  --number-20: 20px;
  --number-24: 24px;
  --number-32: 32px;
  --number-40: 40px;
  --number-48: 48px;
  --number-56: 56px;
  --number-64: 64px;
  --number-80: 80px;
  --number-104: 104px;
  --spacing-null: 0px;
  --spacing-xs: 6px;
  --spacing-s: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 12px;
  --spacing-xxl: 16px;
  --corner-radius-xsmall: 4px;
  --corner-radius-small: 8px;
  --corner-radius-medium: 16px;
  --corner-radius-large: 32px;
  --corner-radius-xlarge: 40px;
  --corner-radius-xxlarge: 0px;
  --corner-radius-circle: 104px;
  --colors-miscellaneous-miscellaneous-text: #FFFFFF;
  --colors-surface-surface-selected-highlight: #2D807B;
  --number-36: 36px;
  --spacing-3xl: 16px;
  --spacing-4xl: 20px;
  --spacing-5xl: 24px;
  --spacing-3xs: 2px;
  --corner-radius-xxsmall: 2px;
  --colors-surface-surface: #FFFFFF;
  --spacing-2xs: 4px;
  --number-6: 6px;
  --colors-light-red-50: #FFE4E4;
  --colors-light-red-100: #FFD3D3;
  --colors-light-red-200: #FFC3C3;
  --colors-light-red-300: #FFABAB;
  --colors-light-red-400: #FF9696;
  --colors-light-yellow-50: #FCFBF2;
  --colors-light-yellow-100: #F8F7E5;
  --colors-light-yellow-200: #FFFEE5;
  --colors-light-yellow-300: #FCF99A;
  --colors-light-yellow-400: #FEFC9E;
  --colors-light-green-50: #F6FFF6;
  --colors-light-green-100: #E4FED5;
  --colors-light-green-200: #D1F6B7;
  --colors-light-green-300: #20F3BF;
  --colors-light-green-400: #0FE9B3;
  --colors-sky-blue-50: #F7F7F7;
  --colors-sky-blue-100: #F5F8FF;
  --colors-sky-blue-200: #EEF3FD;
  --colors-sky-blue-300: #E1ECFF;
  --colors-sky-blue-400: #D2E0FB;
  --colors-charts-primary-color-1: #FF9696;
  --colors-charts-primary-color-2: #0FE9B3;
  --colors-charts-primary-color-3: #A3C7FF;
  --colors-charts-primary-color-4: #FEFC9E;
  --colors-charts-primary-color-5: #D097FF;
  --colors-orange-50: #FFF0E4;
  --colors-orange-100: #F4D9C5;
  --colors-orange-200: #FFD6A5;
  --colors-orange-300: #FFB781;
  --colors-orange-orange-400: #F49C57;
  --colors-charts-primary-color-6: #FFD6A5;
  --colors-charts-primary-color-7: #EFD1FF;
  --colors-charts-primary-color-8: #DA707F;
  --colors-light-red-500: #DA707F;
  --spacing-6xl: 32px;
  --colors-miscellaneous-miscellaneous-text-2: #DDDDDD;
  --colors-miscellaneous-miscellaneous-text-3: #06041F;
  --colors-light-blue-75: #CAF0F8;
  --colors-miscellaneous-miscellaneous-text-4: #85E2C6;
  --colors-shadow-shadow-1: #D9D9D9;
  --colors-shadow-shadow-2: #D8D8D8;
  --colors-shadow-shadow-3: #CFCFCF;
  --colors-shadow-shadow-4: #ACACAC;
  --colors-black-black-shadow-5: #D9D9D9;
  --colors-black-black-shadow-6: #D8D8D8;
  --colors-black-black-shadow-10: #CFCFCF;
  --colors-black-black-shadow-25: #ACACAC;
  --colors-sky-blue-focused: #5DE4FD;
  --colors-light-green-500: #47D7AC;
  --colors-miscellaneous-hyperlink: #48D3AA;
  --colors-light-green-600: #4AEDCE;
  --colors-miscellaneous-icon-set: #4AEDCE;
  --font-family-title: Open Sans;
  --font-family-body: Mulish;
  --font-weight-extra-light: Extra Light;
  --font-weight-light: Light;
  --font-weight-regular: Regular;
  --font-weight-medium: Medium;
  --font-weight-semibold: Semibold;
  --font-weight-bold: Bold;
  --font-weight-extra-bold: Extra Bold;
  --font-weight-black:   Black;
  --font-weight-extra-black: Extra Black;
  --font-size-xxs: 12px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-lg: 32px;
  --font-size-xl: 40px;
  --font-size-2xl: 48px;
  --font-size-3xl: 56px;
  --font-size-4xl: 64px;
  --font-line-height-xxs: 20px;
  --font-line-height-xs: 24px;
  --font-line-height-s: 28px;
  --font-line-height-m: 36px;
  --font-line-height-l: 48px;
  --font-size-xs: 18px;
  --font-line-height-xl: 56px;
  --font-line-height-2xl: 64px;
  --font-line-height-3xl: 80px;
  --font-line-height-4xl: 96px;
  --colors-interactive-active: #3AAB94;
  --colors-surface-surface-dark: #FFFFFF;
  --colors-black-1000: #181818;
  --colors-black-1100: #000000;
  --colors-surface-surface-dl: #000000;
  --color-primary: #f26c4f;
  --color-secondary: #f4399e;
  --color-text: #0bcc2c;
  --bg-body: #0d0f16;
  --bg-header: #020312;
  --bg-content: #181a25;
  --font-family-display: Open Sans;
  --font-family-subtitle-regular: Open Sans;
  --font-family-subtitle-bold: Mulish;
  --font-family-title: Open Sans;
  --font-family-body: Mulish;
  --font-family-subheading: Open Sans;
  --font-family-headline-h1-400: Open Sans;
  --font-family-headline-h1-700: Open Sans;
  --font-family-headline-h2-400: Open Sans;
  --font-family-headline-h2-700: Open Sans;
  --font-family-headline-h3-400: Open Sans;
  --font-family-headline-h3-700: Open Sans;
  --font-family-headline-h4-400: Open Sans;
  --font-family-headline-h4-700: Open Sans;
  --font-family-headline-h5-400: Open Sans;
  --font-family-headline-h5-700: Open Sans;
  --font-family-headline-h6-400: Open Sans;
  --font-family-paragraph-1-400: Mulish;
  --font-family-paragraph-2-400: Mulish;
  --font-family-paragraph-2-600: Mulish;
  --font-family-subtitle1-alternate-600: Mulish;
  --font-family-subtitle1-500: Mulish;
  --font-family-subtitle1-600: Mulish;
  --font-family-subtitle1-alternate-600: Mulish;
  --font-family-subtitle2-500: Mulish;
  --font-family-subtitle2-600: Mulish;
  --font-family-button-700: Mulish;
  --font-family-caption-400: Mulish;
  --font-family-overline-600: Mulish;
  --font-family-ios-largetitle: Open Sans;
  --font-family-ios-title1: Open Sans;
  --font-family-ios-title2: Open Sans;
  --font-family-ios-title3: Open Sans;
  --font-family-ios-headline: Open Sans;
  --font-family-ios-body: Mulish;
  --font-family-ios-largebutton: Mulish;
  --font-family-ios-callout: Mulish;
  --font-family-ios-subheadline: Mulish;
  --font-family-ios-smallbutton: Mulish;
  --font-family-ios-footnote: Mulish;
  --font-family-ios-caption1: Mulish;
  --font-family-ios-caption2: Mulish;
  --font-family-website-h1-400: Open Sans;
  --font-family-website-h1-700: Open Sans;
  --font-family-website-h2-400: Open Sans;
  --font-family-website-h2-700: Open Sans;
  --font-family-website-h3-400: Open Sans;
  --font-family-website-h3-700: Open Sans;
  --font-family-website-h4-400: Open Sans;
  --font-family-website-h4-700: Open Sans;
  --font-family-website-paragraph-1-400: Open Sans;
  --font-family-website-paragraph-1-700: Open Sans;
  --font-family-website-paragraph-2-400: Open Sans;
  --font-family-website-paragraph-2-400: Open Sans;
  --font-size-display: 160;
  --font-size-subtitle-regular: 13;
  --font-size-subtitle-bold: 14;
  --font-size-title: 48;
  --font-size-body: 14;
  --font-size-subheading: 25;
  --font-size-headline-h1-400: 89.76399993896484;
  --font-size-headline-h1-700: 89.76000213623047;
  --font-size-headline-h2-400: 67.33999633789062;
  --font-size-headline-h2-700: 67.33999633789062;
  --font-size-headline-h3-400: 50.516998291015625;
  --font-size-headline-h3-700: 50.52000045776367;
  --font-size-headline-h4-400: 37.89699935913086;
  --font-size-headline-h4-700: 37.89699935913086;
  --font-size-headline-h5-400: 28.43000030517578;
  --font-size-headline-h5-700: 28.43000030517578;
  --font-size-headline-h6-400: 21.327999114990234;
  --font-size-paragraph-1-400: 16;
  --font-size-paragraph-2-400: 12.003000259399414;
  --font-size-paragraph-2-600: 12;
  --font-size-subtitle1-alternate-600: 14;
  --font-size-subtitle1-500: 16;
  --font-size-subtitle1-600: 16;
  --font-size-subtitle1-alternate-600: 14;
  --font-size-subtitle2-500: 12.003000259399414;
  --font-size-subtitle2-600: 12;
  --font-size-button-700: 14;
  --font-size-caption-400: 12;
  --font-size-overline-600: 12;
  --font-size-ios-largetitle: 34;
  --font-size-ios-title1: 28;
  --font-size-ios-title2: 22;
  --font-size-ios-title3: 20;
  --font-size-ios-headline: 17;
  --font-size-ios-body: 17;
  --font-size-ios-largebutton: 17;
  --font-size-ios-callout: 16;
  --font-size-ios-subheadline: 14;
  --font-size-ios-smallbutton: 15;
  --font-size-ios-footnote: 13;
  --font-size-ios-caption1: 12;
  --font-size-ios-caption2: 11;
  --font-size-website-h1-400: 72;
  --font-size-website-h1-700: 72;
  --font-size-website-h2-400: 40;
  --font-size-website-h2-700: 40;
  --font-size-website-h3-400: 32;
  --font-size-website-h3-700: 32;
  --font-size-website-h4-400: 24;
  --font-size-website-h4-700: 24;
  --font-size-website-paragraph-1-400: 18;
  --font-size-website-paragraph-1-700: 18;
  --font-size-website-paragraph-2-400: 16;
  --font-size-website-paragraph-2-400: 16;
  --font-weight-display:   Black;
  --font-weight-subtitle-regular: Regular;
  --font-weight-subtitle-bold: Bold;
  --font-weight-title: Bold;
  --font-weight-body: Regular;
  --font-weight-subheading: Semibold;
  --font-weight-headline-h1-400: Regular;
  --font-weight-headline-h1-700: Regular;
  --font-weight-headline-h2-400: Regular;
  --font-weight-headline-h2-700: Bold;
  --font-weight-headline-h3-400: Regular;
  --font-weight-headline-h3-700: Bold;
  --font-weight-headline-h4-400: Regular;
  --font-weight-headline-h4-700: Bold;
  --font-weight-headline-h5-400: Regular;
  --font-weight-headline-h5-700: Bold;
  --font-weight-headline-h6-400: Semibold;
  --font-weight-paragraph-1-400: Regular;
  --font-weight-paragraph-2-400: Regular;
  --font-weight-paragraph-2-600: Medium;
  --font-weight-subtitle1-alternate-600: Semibold;
  --font-weight-subtitle1-500: Medium;
  --font-weight-subtitle1-600: Semibold;
  --font-weight-subtitle1-alternate-600: Semibold;
  --font-weight-subtitle2-500: Medium;
  --font-weight-subtitle2-600: Semibold;
  --font-weight-button-700: Bold;
  --font-weight-caption-400: Regular;
  --font-weight-overline-600: Semibold;
  --font-weight-ios-largetitle: Regular;
  --font-weight-ios-title1: Semibold;
  --font-weight-ios-title2: Semibold;
  --font-weight-ios-title3: Semibold;
  --font-weight-ios-headline: Bold;
  --font-weight-ios-body: Regular;
  --font-weight-ios-largebutton: Regular;
  --font-weight-ios-callout: Medium;
  --font-weight-ios-subheadline: Medium;
  --font-weight-ios-smallbutton: Regular;
  --font-weight-ios-footnote: Regular;
  --font-weight-ios-caption1: Regular;
  --font-weight-ios-caption2: Regular;
  --font-weight-website-h1-400: Regular;
  --font-weight-website-h1-700: Bold;
  --font-weight-website-h2-400: Regular;
  --font-weight-website-h2-700: Bold;
  --font-weight-website-h3-400: Regular;
  --font-weight-website-h3-700: Bold;
  --font-weight-website-h4-400: Regular;
  --font-weight-website-h4-700: Bold;
  --font-weight-website-paragraph-1-400: Regular;
  --font-weight-website-paragraph-1-700: Bold;
  --font-weight-website-paragraph-2-400: Regular;
  --font-weight-website-paragraph-2-400: Bold;
  --shadow-base: #000000;
  --shadow-medium: #CFCFCF;
  --shadow-large: #CFCFCF;
  --shadow-xlarge: #D8D8D8;
  --shadow-xxlarge: #ACACAC;
  --shadow-inner: #000000;
  --shadow-hover: #ACACAC;
        }
        
