:root {
  --color-primary: #f26c4f;
  --color-secondary: #f4399e;
  --color-text: #a1a1a1;
  --bg-body: #0d0f16;
  --bg-header: #020312;
  --bg-content: #181a25;
  --sidebar-link-color: #cfcfcf;
  --border-color: #282d38;
  --pink-gradient: linear-gradient(to right, #f26c4f, #f4399e);
  --circle-color: #510a31;
  --font-text: "Open Sans", sans-serif;
  --font-heading: "Roboto", sans-serif;
}
